# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/*
data/processed/*

# Model weights
models/*
*.pth
*.pt
*.ckpt

# RAG vector database
rag/vector_store/*

# Generated results
results/*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

rag/vector_store/